# docker-compose.yml
services:
  db:
    image: postgres:16 # 안정적인 버전 사용
    env_file: .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
volumes:
  postgres_data:
